In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
from scipy import stats

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [9]:
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [29]:
# print("Basic Summary Statistics:")
# print(f"Count: {data.count()}")
# print(f"Mean: {data.mean()}")
# print(f"Median: {data.median()}")
# print(f"Mode: {data.mode().tolist()}")
# print(f"Min: {data.min()}")
# print(f"Max: {data.max()}")
# print (f"Range: {data.max()-data.min()}")
# print (f"Standard Deviation: {data.std()}")
# print(f"Variance: {data.var()}")
# print(f"25th Percentile (Q1): {data.quantile (0.25)}")
# print(f"50th Percentile (Q2 Median): {data.quantile(0.50)}")
# print(f"75th Percentile (Q3): {data.quantile(0.75)}")
# print(f"IQR (Q3 Q1): {data.quantile (0.75)-data.quantile(0.25)}")

In [7]:
data = sns.load_dataset('diamonds')

In [11]:
cut_grp =data.groupby('cut')
cut_grp

C:\Users\kunal\AppData\Local\Temp\ipykernel_11284\4154076324.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cut_grp =data.groupby('cut')

In [13]:
cut_grp['price'].sum()

cut
Ideal        74513487
Premium      63221498
Very Good    48107623
Good         19275009
Fair          7017600
Name: price, dtype: int64

In [31]:
data.value_counts('cut')

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64